extends layout/main

block contents
    .login__register__page
        .login__register__form
            h1.login__register__title 로그인
            form(action="/", method="POST")
                input(type="email", name="email", placeholder="E-Mail (ID)", required=true)
                input(type="password", name="password", placeholder="PASSWORD", required=true)
                input(type="submit", value="로그인")
            .login__register__page__btn
                a(href="/register") 회원가입
