.upload__container{
    display: flex;
    justify-content: center;   
}

.upload__container input{
    display:block;
    margin-top : 15px;
    text-align: center;
}

.upload__container input:nth-child(2){
    width: 306px;
    margin-bottom: 10px;
}

.upload__container .upload__btn{
    border-radius: 25px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 45px;
    box-shadow: 1px 1px 1px 1px gray;
}

.upload__container .upload__btn:hover{
    box-shadow: 2px 2px 2px 2px gray;
    font-weight: 800;
    cursor: pointer;
}