.videoDetail__container{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.videoDetail__videoBlock .video{
    width:600px;
    height:400px;
}

.videoDetail__videoDetail .videoTitle{
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}

.videoDetail__videoDetail .videoDescription{
    font-size: 16px;
    font-style: italic;
    color: lightslategray;
    margin-top: 7px;
    margin-bottom: 7px;
}

.videoDetail__videoDetail h5{
    font-style: italic;
    color: lightgray;
    font-size: 12px;
}

.videoDetail__btn a{
    display: inline-block;
    width: 250px;
    height: 28px;
    font-size: 20px;
    padding-top: 7px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 25px;
    color: darkgoldenrod;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    box-shadow: 1px 1px 1px 1px gray;
}

.videoDetail__btn a:hover{
    display: inline-block;
    width: 250px;
    height: 28px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 7px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 25px;
    color: darkgoldenrod;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    box-shadow: 2px 2px 2px 2px gray;
}