.edit__container{
    display: flex;
    justify-content: center;
}

.edit__container input{
    display:block;
    margin-top : 15px;
    text-align: center;
}

.edit__container input:nth-child(1){
    width: 306px;
    margin-bottom: 10px;
}

.edit__container .edit__btn{
    border-radius: 25px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 37px;
    box-shadow: 1px 1px 1px 1px gray;
}

.edit__container .edit__btn:hover{
    box-shadow: 2px 2px 2px 2px gray;
    font-weight: 800;
    cursor: pointer;
}